# fly.toml app configuration file generated for trimfinder-app on 2025-11-16T14:22:34-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'trimfinder-app'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '3000'
  NEXTAUTH_URL = 'https://trimfinder-app.fly.dev'

[deploy]
  release_command = 'npx prisma migrate deploy'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[mounts]]
  source = 'uploads'
  destination = '/app/public/uploads'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
